{% extends 'base.html' %}
{% block title %} {{ people.title }} {% endblock %}
{% block nav %} {% include 'navigation.html' %} {% endblock %}


{% block content %}
    <div id="wrapper">
    <h3 class="span10   offset2">
        {% if content.follow_btn.type %}
                {{ content.profile.nickname }}的个人主页
        {% else %}
                我的个人主页
        {% endif %}
    </h3>
{% block sidebar-left %} {% include 'sidebar-left.html' %} {% endblock %}

    <div class="span6 well">
    <div id="grid" class="row">

        <div id="feeds" class="span6">
            {% for feed in content.feed %}

                {% if feed.status_type == "Status" %}
                    <div class="feed media">
                        <a class="pull-left"
                           href="http://localhost/people/{{ feed.status_author.get_profile.shorturl }}/">
                            <img class="media-object" {% if feed.status_author.get_profile.avatar_little %}
                                 src="{{ feed.status_author.get_profile.avatar_middle.url }}"
                            {% endif %} alt="{{ follow.friend.get_profile.nickname }}">
                        </a>

                        <div class="media-body">
                            <h5 class="media-heading">
                                <a class="pull-left"
                                   href="http://localhost/people/{{ feed.status_author.get_profile.shorturl }}/">
                                    {{ feed.status_author.get_profile.nickname }}
                                </a>
                                &nbsp;说
                            </h5>

                            <div class="media">
                                <blockquote>
                                    <p>
                                        {{ feed.status_content }}
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="actions text-right inline">
                            <a title="{{ feed.status_date|date:"Y-n-j G:i:s" }}"
                               href="http://localhost/people/{{ feed.status_author.get_profile.shorturl }}/{{ feed.status_url }}">{{ feed.status_date|date:"Y-n-j G:i:s" }}</a>
                            <a class="btn-action-comment btn-small btn"
                               href="http://localhost/people/{{ feed.status_author.get_profile.shorturl }}/{{ feed.status_url }}comment">回复</a>

                        </div>
                        <div class="comments span5" style="display:none">
                            <div class="comment-item text-right">
                            </div>
                            <form class="form-inline comment-form" method="post" action="http://localhost/people/{{ feed.status_author.get_profile.shorturl }}/{{ feed.status_url }}comment">
                                <div class="text-right">
                                    <input class="comment-input" type="text" name="comment" data-type="status-comment">
                                    <button class="btn comment-btn" type="submit" disabled="disabled"
                                            data-type="status-comment">发表回复
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% elif feed.status_type == "Note" %}
                    <div class="feed media">
                        <a class="pull-left"
                           href="http://localhost/people/{{ feed.status_author.get_profile.shorturl }}/">
                            <img class="media-object"
                                    {% if feed.status_author.get_profile.avatar_little %}
                                 src="{{ feed.status_author.get_profile.avatar_middle.url }}"
                                    {% endif %}
                                 alt="{{ feed.status_author.get_profile.nickname }}">
                        </a>

                        <div class="media-body">
                            <h5 class="media-heading">
                                <a class="pull-left"
                                   href="http://localhost/people/{{ feed.status_author.get_profile.shorturl }}/">
                                    {{ feed.status_author.get_profile.nickname }}
                                </a>
                                发布了一篇日志
                                <a href="{{ feed.status_url }}">{{ feed.status_title }}</a>
                            </h5>

                            <div class="media">
                                <blockquote>
                                    <p>
                                        {{ feed.status_content|truncatechars:100 }}
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="actions text-right inline">
                            <a title="{{ feed.status_date|date:"Y-n-j G:i:s" }}"
                               href="http://people/{{ feed.status_author.get_profile.shorturl }}/{{ feed.status_url }}">{{ feed.status_date|date:"Y-n-j G:i:s" }}</a>
                            <a class="btn-action-comment btn-small btn"
                               href="http://localhost/people/{{ feed.status_author.get_profile.shorturl }}/{{ feed.status_url }}comment">回复</a>

                        </div>
                        <div class="comments span5" style="display:none">
                            <div class="comment-item text-right">
                            </div>
                            <form class="form-inline comment-form" method="post" action="http://localhost/people/{{ feed.status_author.get_profile.shorturl }}/{{ feed.status_url }}comment">
                                <div class="text-right">
                                    <input class="comment-input" type="text" name="comment" data-type="status-comment">
                                    <button class="btn comment-btn" type="submit" disabled="disabled"
                                            data-type="status-comment">发表回复
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% elif feed.status_type == "Photo" %}
                    <div class="feed media">
                        <a class="pull-left"
                           href="http://localhost/people/{{ feed.status_author.get_profile.shorturl }}/">
                            <img class="media-object"
                                    {% if feed.status_author.get_profile.avatar_little %}
                                 src="{{ feed.status_author.get_profile.avatar_middle.url }}"
                                    {% endif %} alt="{{ feed.status_author.get_profile.nickname }}">
                        </a>

                        <div class="media-body">
                            <h5 class="media-heading">
                                <a class="pull-left"
                                   href="http://localhost/people/{{ feed.status_author.get_profile.shorturl }}/">
                                    {{ feed.status_author.get_profile.nickname }}
                                </a>
                                上传了照片至
                                {{ feed.status_content|safe|escape }}
                            </h5>

                            <div class="media">
                                <ul class="thumbnails">
                                    <li class="span2">
                                        <a class="thumbnail" href="http://localhost/{{ feed.status_url }}">
                                            <img src="{{ feed.status_title }}">
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>

                        <div class="actions text-right inline">
                            <a title="{{ feed.status_date|date:"Y-n-j G:i:s" }}"
                               href="http://localhost/people/{{ feed.status_url }}">{{ feed.status_date|date:"Y-n-j G:i:s" }}</a>
                            <a class="btn-action-comment btn-small btn"
                               href="http://localhost/{{ feed.status_url }}comment">回复</a>

                        </div>
                        <div class="comments span5" style="display:none">
                            <div class="comment-item text-right">
                            </div>
                            <form class="form-inline comment-form" method="post" action="http://localhost/{{ feed.status_url }}comment">
                                <div class="text-right">
                                    <input class="comment-input" type="text" name="comment" data-type="status-comment">
                                    <button class="btn comment-btn" type="submit" disabled="disabled"
                                            data-type="status-comment">发表回复
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>


                {% endif %}




            {% endfor %}


            <div class="pagination pagination-centered">
                <ul>

                    {% if content.feed.has_previous %}
                        <li><a href="?page={{ content.feed.previous_page_number }}"><<<</a></li>
                    {% else %}
                        <li class="disabled"><a><<<</a></li>
                    {% endif %}
                    {% for page in content.page_range %}
                        {% ifequal page  content.feed.number %}
                            <li class="active"><a>{{ page }}</a></li>
                        {% else %}
                            <li><a href="?page={{ page }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% endfor %}
                    {% if content.feed.has_next %}
                        <li><a href="?page={{ content.feed.next_page_number }}">>>></a></li>
                    {% else %}
                        <li class="disabled"><a>>>></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
    <div class="row">
        <div id="board" class="span6">
            <h3><a href="http://localhost/people/{{ content.profile.shorturl }}/board/">留言板</a></h3>

            <form id="board-form" method="post" action="{{ request.path }}">
                {% csrf_token %}
                {{ content.board.board_belong }}
                {{ content.board.message_content }}

                {% if content.form.comment_content.errors %}
                    {{ content.form.comment_content.errors }}
                {% endif %}
                <div class="text-right">
                    <button id="board-btn" class="btn" type="submit" disabled="disabled">留言</button>

                </div>
            </form>
        </div>
    </div>
    </div>
{% block sidebar-right %} {% include 'sidebar-right.html' %} {% endblock %}


    </div>
{% endblock %}