<div class="span2">

    <div class="thumbnail">
        {% if content.profile.avatar_big %}
            <img src="{{ content.profile.avatar_big.url }}"/>
        {% endif %}

        <div class="caption">
            <h3>{{ content.profile.nickname }}</h3>

            <p>居住地：{{ content.profile.location }}</p>

            <p>生日：{{ content.profile.birthday|date:"Y-n-j" }}</p>

            <p>性别： {{ content.profile.gender }}</p>
            {% if content.follow_btn.type %}
                <p><a href="{{ content.follow_btn.follow_url }}"
                      class="btn btn-primary">{{ content.follow_btn.type }}</a></p>
            {% endif %}
        </div>
    </div>


</div>